<h1>| Welcome, <%= @user.username %> |</h1>

<h3>All Your Blog Posts</h3>
<table>

  <% @posts.each do |post| %>
    <tr class="text">
      <td><%= link_to post.title, post_path(post) %></td>
      <td><button class="button" type="button" name="button"> <%= link_to 'Edit Blog Post', edit_post_path(post) %></button></td>
    </tr>
  <% end %>
</table>

<button class="button" type="button" name="button"><%= link_to 'New Blog Post', new_post_path %></button>
