@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Homemade+Apple|Poiret+One|Shadows+Into+Light');

* {
  box-sizing: border-box;
  margin: 0 auto;
}

body {
    background: #e8cbc0; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #e8cbc0, #636fa4) fixed; /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #e8cbc0, #636fa4) fixed; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    // font-family: 'Shadows Into Light', cursive;
    font-family: 'Poiret One', cursive;
    font-size: 1.8em;
    a {
      text-decoration: none;
      color: purple;
    }
    a:visited {
      color: purple;
    }
    h1{
      text-align: center;
    }
    h2{
      margin-left: 100px;
      font-family: 'Homemade Apple', cursive;
      color: purple;
      // border: 2px dashed purple;
      // padding: 8px;
      display: inline-block;
    }
}

.nav{
  font-family: 'Homemade Apple', cursive;
  word-spacing: 10px;
  margin-left: 8px;
  margin-top: 8px;
}
.text{
  font-family: 'Amatic SC', cursive;
  letter-spacing: 1px;
  border: 1px dotted purple;
  background-color:rgba(4,0,0,0.2);
  // margin: 4vh 2vw auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 50px;
  grid-gap: 1em;
  margin-top: 5px;
  padding-top: 5px;

}
.button {
  // border-radius: 10px;
  box-shadow: 5px 5px 5px #888888;
  font-family: 'Poiret One', cursive;
  font-size: 12pt;
}
.right{
  float: right;
  margin: 10px
}
.center{
  text-align: center;
}
.title{
  text-align: center;
}
.border{
  background-color:rgba(4,0,0,0.2);
  text-align: center;
  padding: 35px;
  display: inline-block;
}
